/* Variables globales */

body{
  display: grid;
  grid-template-areas:  "header header  header"
                        "nav    main    main"
                        "nav    main    main";
  font-size: 10px;
  margin: 0;
  padding: 0;
}

header{
  height: 200px;
  width: 100%;
}

header{
  width: 50%;
  height: 100%;
}

.logo{
  margin: 0;
  padding: 0;
  width: 50%;
}

.logo img{
  width: 100%;
}

/* Paleta de colores */
:root {
  --azul-oscuro: #f6b000;
  --amarillo-solar: #1f2a44;
  --blanco: #ffffff;
  --gris-claro: #e0e0e0;
  --negro-suave: #333333;
}

/*==============================================================*/
/* Estilos Página principal */


/*==============================================================*/
/* Estilos Página Informacion*/


/*==============================================================*/
/* Estilos Página Login  */

div{background-color: white;}
div{margin-top: 100px;}
div{margin-left: 500px;}
input{border-style: outset}
div{font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#Registrodeusuario a{
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: rgb(201, 221, 90);
    background-color: rgb(37, 165, 127);
    padding: 3px 5px;
    border-right: 1px solid blue;
    display: block;

    
}

h2{color: blue;}


p.outset{border-style: outset;}


/*==============================================================*/
/* Estilos Página Tienda virtual  */


/*==============================================================*/
/* Estilos Página estadisticas y datos  */

